@import '../config';
@import '../mixins/common';
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:before,
*:after {
    box-sizing: border-box;
}
img{display:block; user-select: none}
html{font-size:10px; height:100%}
@media only screen and (max-width: 310px) and (min-width: 300px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (max-width: 320px) and (min-width: 310px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (max-width: 360px) and (min-width: 320px) {
  html {
    font-size: 9px;
  }

  .filter-menu-list ul li i {
    margin-top: -.1rem;
  }

  .filter-menu-list ul li em {
    margin-top: -.4rem;
  }
}
@media only screen and (max-width: 360px) and (min-width: 350px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 480px) and (min-width: 360px) {
  html {
    font-size: 10px;
  }

  .filter-menu-list ul li i {
    margin-top: -.1rem;
  }

  .filter-menu-list ul li em {
    margin-top: 0;
  }
}
@media only screen and (max-width: 480px) and (min-width: 470px) {
  html {
    font-size: 13.33333px;
  }
}
@media only screen and (max-width: 560px) and (min-width: 480px) {
  html {
    font-size: 13.33333px;
  }
}
@media only screen and (max-width: 570px) and (min-width: 560px) {
  html {
    font-size: 15.83333px;
  }
}
@media only screen and (max-width: 640px) and (min-width: 570px) {
  html {
    font-size: 15.83333px;
  }
}
@media only screen and (max-width: 640px) and (min-width: 630px) {
  html {
    font-size: 17.77778px;
  }
}
@media only screen and (max-width: 710px) and (min-width: 640px) {
  html {
    font-size: 17.77778px;
  }
}
body{
    font-family: $font-family;
    font-size: $font-size-small;
    line-height: $line-height-base;
    color: $text-color;
    background-color: $body-background;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height:100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

ul,
ol {
    list-style: none;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}

*:focus {outline: none;} 

a {
    color: $link-color;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color $transition-time ease;

    &:hover {
        color: $link-hover-color;
    }

    &:active {
        color: $link-active-color;
    }

    &:active,
    &:hover {
        outline: 0;
        text-decoration: none;
    }

    &[disabled] {
        color: #ccc;
        cursor: $cursor-disabled;
        pointer-events: none;
    }
}

code,
kbd,
pre,
samp {
    font-family: $code-family;
}

.f-left{
  float:left;
}
.f-right{
  float:right;
}

//组件编辑 collapse
  .collapse {
      border: $border-color-split 1px solid;
  }

  .collapse.close{
      border-bottom:0;
  }

  .collapse.close .con{
      height:0;
      padding:0;
  }
.collapse .title {
      background: $tool-bg;
      overflow: hidden;
      font-size: 1.36rem;
      height:$component-height;
      border-bottom: $border-color-split 1px solid;
 }
 
 .collapse .title span {
      float: left;
      position: relative;
      
}
    
    .collapse .title span.rotate-arrow {
        position: relative;
    }
    
    .collapse .title .icon-arrow {
        font-size: 1rem;
        position: absolute;
        margin-left: .2rem;
        @include ransformRotate(90deg);
    }
    
    .collapse.close .title .icon-arrow{
      @include ransformRotate(0);
    }
    .collapse .con {
        padding: 1.8rem 2rem;
        overflow: hidden;
    }
    
    .form-group {
        margin-bottom: 1.2rem;
        max-width:60rem;
        @include direction(center, flex-start);
    }
    
    .form-group:last-child{
      margin-bottom:0;
    }

    .form-group .group-l {
        float: left;
        margin-right: 1.2rem;
        font-size: 1.36rem;
        min-width:6rem;
        color: $title-color;
        text-align: right;
        @include direction(center, flex-end);
    }
    .form-group .group-r{
      // max-width: 30rem;
      flex:1;
    }
    // .form-group .group-r input{
    //     max-width:30rem;
    // }
    .color-input{
      background:none;
      border:0;
    }

/*input-date-group*/
.input-date-group{
  @include disFlex();
}
.input-date-group .el-input,.input-date-group .el-date-editor.el-input{width:86% !important; @include flex1-1()}
.input-date-group a{font-size:.82rem; margin-left:.4rem; margin-top:.4rem;}

/*more-link*/
.more-link{font-size:1.3rem; margin-left:.8rem; padding-left:.8rem; border-left:1px solid $border-color-split; color:$title-color}
.more-link i{font-size:1.2rem;}
.more-link:hover{color:$title-color}

/*remark*/
.ec-remark{
  margin:.4rem 0;
  line-height:1.4;
  font-size:1.2rem;
  color:#ff495e;
}

.seamless-scroll{overflow:hidden;  position:absolute;  left:0;}
.seamless-scroll-wrapper{float:left; display:inline-block; white-space: nowrap;}

/*mask*/
.mask{
  @include urlAbsolute();
  background:rgba(0, 0, 0, .7);
  z-index: 122;
}